*.docx
*.exe
*.zip
*.sln
*.vcxproj
*.filters
*.user
*.pdb
*.idb
*.enc
*.obj
*.log
*.ilk
*.recipe
*.tlog
*.lastbuildstate
*.vsidx
*.suo
*.db
.wsuo
*.ipch
*.ico
*.rc
*.ixx
*.res
*.sqlite
*.bin
*.dll
*.lib
*.exp
*.json

*.png
D:/РЎ++/Project/VSC_prj_netologiy/car_darts/Game_v1/AutoDarts/x64
D:/РЎ++/Project/VSC_prj_netologiy/car_darts/Game_v1/AutoDarts/.vs
D:/РЎ++/Project/VSC_prj_netologiy/car_darts/Game_v1/AutoDarts/AutoDarts
D:/РЎ++/Project/VSC/prj_netologiy_yandex/Task_CMake/.vs
D:/РЎ++/Project/VSC/prj_netologiy_yandex/Task_CMake/out
.ninja_deps





