*.docx
*.exe
*.zip
*.sln
*.vcxproj
*.filters
*.user
*.pdb
*.idb
*.enc
*.obj
*.log
*.ilk
*.recipe
*.tlog
*.lastbuildstate
*.vsidx
*.suo
*.db
*.json
*.ipch
*.ico
*.rc
*.ixx
*.res
D:/РЎ++/Project/VSC_prj_netologiy/car_darts/Game_v1/AutoDarts/x64
D:/РЎ++/Project/VSC_prj_netologiy/car_darts/Game_v1/AutoDarts/.vs
D:/РЎ++/Project/VSC_prj_netologiy/car_darts/Game_v1/AutoDarts/AutoDarts




